extends layout

block content
  h1= title
  - var results = fish;
  div(class="container_fluid")
    each item, index in results
        div(class="row" onclick = `buy(${index})`)       
            div(class="col-sm-2") #{item.fish_type}
            div(class="col-sm-2") #{item.fish_name}
            div(class="col-sm-2") #{item.fish_cost}
  script.
      function buy(indxnum){
        alert('You purchased item'+ indxnum)
      }
